<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-dark.min.css" type="text/css" />
		<link rel="stylesheet" href="/static/style.css" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta property="og:site_name" content="{{ .SiteName }}" />
		<meta property="og:title" content="Homepage" />
		<title>Homepage</title>

		<style>
			table:not(.horizontal) tr > td:first-child,
			table:not(.horizontal) tr > th:first-child {
				flex: 2;
			}

			table th, table td {
				padding:
					var(--universal-padding)
					calc(2 * var(--universal-padding));
			}

			table:not(.horizontal) thead th {
				padding:
					calc(1.1 * var(--universal-padding))
					calc(2.0 * var(--universal-padding));
			}
		</style>
	</head>

	<body>
		{{ template "loading-header" }}
		{{ template "header" . }}

		<main>
			<div id="stats">{{ .Statistics.Render }}</div>
			<div id="players">{{ .TopPlayers.Render }}</div>
			<div id="maps">{{ .TopMaps.Render }}</div>
		</main>

		{{ template "footer" . }}
		{{ template "loading-footer" }}
	</body>
</html>
