<form class="seamless pager">
<input type="submit" style="display:none">

<table>
	<caption>
		<div>
			<button type="submit" class="prev" aria-label="Previous"
					name="p" value="{{ dec .Page }}"
				{{ if (le .Page 1) }}
					disabled
				{{ end }}
			 >❮</button>

			<h3 style="display: inline">Leaderboard</h3>

			<button type="submit" class="next" aria-label="Next"
					name="p" value="{{ inc .Page }}"
				{{ if (not .HasMore) }}
					disabled
				{{ end }}
			>❯</button>
		</div>

		<input type="text" class="small" name="q" value="{{.Query}}" placeholder="Search">
	</caption>
	<thead>
		<tr>
			<th>Rank</th>
			<th>Player</th>

			<th>
				<button class="link" type="submit" name="s" value="points">
					Points
				</button>
				{{ if (or (eq .Sort "points") (eq .Sort "")) }}
				<span class="sorting-by">▼</span>
				{{ end }}
			</th>

			<th>
				<button class="link" type="submit" name="s" value="kills">
					Kills
				</button>
				{{ if (eq .Sort "kills") }}
				<span class="sorting-by">▼</span>
				{{ end }}
			</th>

			<th>
				<button class="link" type="submit" name="s" value="melee_kills">
					Melee Kills
				</button>
				{{ if (eq .Sort "melee_kills") }}
				<span class="sorting-by">▼</span>
				{{ end }}
			</th>

			<th>
				<button class="link" type="submit" name="s" value="headshots">
					Headshots
				</button>
				{{ if (eq .Sort "headshots") }}
				<span class="sorting-by">▼</span>
				{{ end }}
			</th>

			<th>
				<button class="link" type="submit" name="s" value="award_friendlyfire">
					Friendly Fire Incidents
				</button>
				{{ if (eq .Sort "award_friendlyfire") }}
				<span class="sorting-by">▼</span>
				{{ end }}
			</th>

			<th>
				<button class="link" type="submit" name="s" value="award_fincap">
					Incapacitated Friendlies
				</button>
				{{ if (eq .Sort "award_fincap") }}
				<span class="sorting-by">▼</span>
				{{ end }}
			</th>
		</tr>
	</thead>
	<tbody>
		{{ range .Players }}
		<tr>
			<td data-label="Rank">{{.Index}}</td>
			<td data-label="Player">
				<a href="{{ .URL }}" aria-label="Profile">{{.Name}}</a>
			</td>
			<td data-label="Points">{{.Points}}</td>
			<td data-label="Kills">{{.Kills}}</td>
			<td data-label="Melee Kills">{{.MeleeKills}}</td>
			<td data-label="Headshots">{{.Headshots}}</td>
			<td data-label="Friendly Fire Incidents">{{.AwardFriendlyfire}}</td>
			<td data-label="Incapacitated Friendlies">{{.AwardFincap}}</td>
		</tr>
		{{ end }}
	</tbody>
</table>

{{/* The submits should take precedence over these states */}}
<input type="text" name="s" value="{{.Sort}}" style="display:none">
<input type="text" name="p" value="{{.Page}}" style="display:none">
</form>
